version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    groups:
      nextjs-ecosystem:
        patterns:
          - "next*"
          - "react*"
    labels:
      - "dependencies"
      - "security"
